# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Environment variables (VERY IMPORTANT 🔐)
.env

# IDE files
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Pytest / cache
.pytest_cache/

# Build files
dist/
build/

# MongoDB dump (if any)
dump/